<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Flask</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    
    <h1> About This Project </h1>
    <p> The topic of this project is to organize the scattered lectures into a coherent “multimedia textbook” and create an index. A course typically covers many words, but only a few are key words and relates to the knowledge introduced in the course. The learner may like to quickly find the lecture or the location a specific topic is presented, or a specific key word is defined and explained. This topic relates to the text retrieval, language model, and topic analysis introduced in the text information system class.</p>
      
    {% endblock %}

    {% block video %}
    <h1> Software Usage </h1>
    <p>The software is supposed to run on Python 3.6.14 and above.</p>
    <p>More details and the code can be found <a href="https://github.com/jasonzjc/CourseProject">here</a>.</p>
    {% endblock %}

  </body>
</html>